body {
	margin: 0;
}

h2 {
	margin-left: 10px;
}

.index {
	background-color: #CEDAFF;
}

.title {
	height: 10vh;
	line-height: 10vh;
	font-family: "Slabo 27px";
	font-size: 7vmin;
	margin-left: 12px;
	text-align: left;
}

.dropbtn {
	height: 10vh;
	line-height: 10vh;
	width: 10vh;
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	padding: 0 5px 0 0;
}

.dropbtn:focus {
	outline: none;
}

.menubar {
	z-index: 999;
	position: relative;
	display: block;
	background-color: #99B3FF;
	border-bottom: 2px solid #668CFF;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 3px 0 0 0;
	top: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #668CFF;
    min-width: 160px;
    margin-top: 1px;
    border-bottom: 1px solid #000000;
}

.dropdown-content a {
	color: black;
	text-align: center;
	padding: 12px 8px;
	width: 100vw;
	text-decoration: none;
	display: block;
	font-family: "Roboto Condensed";
	font-size: 6vmin;
	border: 1px solid #668CFF;
	height: 3vmin;
	line-height: 3vmin;
	font-size: 3vmin;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.dropdown-content a:hover {
	background-color: #7799FF;
	border-color: #000000;
}

.show {
	display: block;
}

.selected {
	background-color: #7799FF;
}

.text-bg {
	background-color: #CEDAFF;
	margin-top: calc(10vh + 40vw);
	border-top: 2px solid #668CFF;
}

.content {
	padding: 2px 10px 2px 10px;
	background-color: rgba(251, 251, 251, 0.6);
	font-family: "Roboto Condensed";
	font-size: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

.menuvis {
	padding-top: 45vh;
}

.foot {
	padding: 10px;
}

.banner {
	width: 100vw;
	height: 20vh;
	position: fixed;
	z-index: -1;
	padding-top: 10vh;
	top: 0;
}

.banner-img {
	width: 100vw;
}

.member {
	width: 48%;
	position: relative;
	display: inline-block;
    text-align: left;
    padding: 4.8px;
	
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
}

.member img {
	width: 100%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	/*border-radius: 50%;*/
}

.middle {
	margin: 0 25% 0 25%;
}

.member-info {
	color: black;
	width: 96.8%;
	padding-top: 4px;
	padding-bottom: 6px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: -9px;
	opacity: 0;
	font-weight: bold;
	z-index = 10;
	font-size: 96%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 2px;*/

	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
}

.member:hover .member-info {
	opacity: 1;
}

.officer-info {
	color: black;
	width: 96.8%;
	padding-top: 4px;
	padding-bottom: 6px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: -10px;
	opacity: 0;
	font-weight: bold;
	z-index = 10;
	font-size: 96%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
}

.member:hover .officer-info {
	opacity: 1;
}

/*@media only screen
and (max-device-width: 1024px) {

	.content {
		width: 80vw;
		font-size: 5vw;
	}

}*/