body {
	margin: 0;
}

.index {
	/*background: url(./dna-bg.jpg) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

	background-color: #CEDAFF;
}

.title {
	height: 10vh;
	line-height: 10vh;
	font-family: "Slabo 27px";
	/*font-size: 70px;*/
	font-size: 7vmin;
	margin-left: 12px;
	text-align: left;
}

.dropbtn {
	height: 10vh;
	line-height: 10vh;
	width: 10vh;
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	padding: 0 5px 0 0;
}

.dropbtn:focus {
	outline: none;
}

.menubar {
	position: relative;
	display: block;
	background-color: #99B3FF;
	border-bottom: 2px solid #668CFF;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 3px 0 0 0;
	top: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #668CFF;
    min-width: 160px;
    margin-top: 1px;
    border-bottom: 1px solid #000000;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content a {
/*	height: 5vh;
	line-height: 5vh;*/
	color: black;
	text-align: center;
	padding: 12px 8px;
	width: 100vw;
	text-decoration: none;
	display: block;
	font-family: "Roboto Condensed";
	font-size: 6vmin;
	border: 1px solid #668CFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.dropdown-content a:hover {
	background-color: #7799FF;
	border-color: #000000;
}

.show {
	display: block;
}

.selected {
	background-color: #7799FF;
}

.text-bg {
	background-color: #CEDAFF;
}

.content {
	/*padding: 10vh 10px 3px 10px;*/
	/*margin-top: 10vh;*/
	padding: 2px 10px 2px 10px;
	/*margin-bottom: 10px;*/
	background-color: rgba(251, 251, 251, 0.6);
	font-family: "Roboto Condensed";
	font-size: 20px;
}

.menuvis {
	padding-top: 45vh;
}

.foot {
	padding: 10px;
}

.banner {
	width: 100vw;
	height: 20vh;
	position: fixed;
	z-index: -1;
	padding-top: 10vh;
	top: 0;
}

.banner-img {
	width: 100vw;
}

.text-bg {
	margin-top: calc(10vh + 40vw);
	border-top: 2px solid #668CFF;
}

.dropdown-content a {
	height: 3vmin;
	line-height: 3vmin;
	font-size: 3vmin;
}

.content {
	width: 600px;
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

@media only screen
and (max-device-width: 1024px) {

	.content {
		width: 80vw;
		font-size: 5vw;
	}

}