body {
	margin: 0;
}

.title {
	height: 10vh;
	line-height: 10vh;
	font-family: "Slabo 27px";
	font-size: 40px;
	font-size: 6vw;
	margin-left: 12px;
	text-align: left;
}

.dropbtn {
	height: 10vh;
	line-height: 10vh;
	/*height: 40px;*/
	width: 10vh;
	background: none;
	border: none;
	cursor: pointer;
	float: right;
}

.menubar {
	position: relative;
	display: block;
	background-color: #99B3FF;
	border-bottom: 2px solid #668CFF;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: "Roboto Condensed";
}

.dropdown-content a: hover {
	background-color: #F1F1F1;
}

.show {
	display: block;
}

@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {

}